.button {
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  padding: 7px 12px;
  margin: 0;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  background-color: var(--color9);
  color: var(--color6);

  &:hover {
    background-color: var(--color33);
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--color47);
    outline: none;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }

  &:hover:disabled {
    background-color: var(--color9);
  }
}

:global(.dark) .button {
  background-color: #117b74;
  border-color: rgba(var(--white-color), 0.25);
  color: var(--color16);

  &:hover {
    background-color: var(--color9);
  }

  &:hover:disabled {
    background-color: #117b74;
  }
}

.suffix {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -12px;
  margin-left: 12px;
  padding: 0 10px;

  &:before {
    position: absolute;
    left: 0;
    content: '';
    height: 36px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }
}

:global(.dark) .suffix:before {
  border-color: rgba(var(--white-color), 0.25);
}

.small {
  height: 28px;
  font-size: 12px;
  text-transform: uppercase;
}

.transparent {
  background-color: rgba(var(--primary-color), 0.2);
  color: rgb(var(--primary-color));
}

:global(.dark) .transparent {
  border-color: transparent;
  color: var(--color16);
  background-color: rgba(var(--primary-color), 0.4);

  &:hover {
    background-color: rgba(var(--primary-color), 0.5);
  }
}
